* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  /* height: 60px; */
  background: rgba(63, 191, 191, 0.65);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: rgb(199, 65, 199);
}
.me {
  max-width: 15%;
  max-height: auto;
  display: flex;
}
.art1, .art2, .art3, .art4, .art5 {
  max-width: 20%;
  max-height: 20%;
}
.art6 {
  max-width: 15%;
  max-height: 15%;
}
.code1, .code2, .code3, .code4, .code5, .code6, .code7, .code8, .code9 {
  max-width: 20%;
  max-height: 20%;
}
.fab, .fa {
  color: aqua;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
section#home {
  background: url(ArtWorks/otter.jpg) no-repeat center center/cover;;
}

section#about {
  background: url(ArtWorks/eevees.jpg) no-repeat center center/cover;;
}

section#service {
  background: url(ArtWorks/eye.jpg) no-repeat center center/cover;;
}

section#contact {
  background: url(ArtWorks/me.jpg) no-repeat center center/cover;;
}

  
@media screen & (max-width: 960px)
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* ----------- Retina Screens ----------- */
@media screen & (max-width: 960px)
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media screen & (max-width: 960px)
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .col {width: 100%;}
}

/* Portrait */
@media screen & (max-width: 960px) 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .col {width: 100%;}
}

/* Landscape */
@media screen & (max-width: 960px)
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .col {width: 100%;}
}